.container {
    margin: 0 auto;
    max-width: @xl;
    padding: 0 @gutter--small;

    @media (min-width: @md) {
        padding: 0 @gutter--medium;
    }

    @media (min-width: @xl) {
        padding: 0 @gutter--large;
    }
}

.container--full {

    @media (min-width: @md) {
        padding: 0 @gutter--large;
    }

    @media (min-width: @lg) {
        padding: 0 @gutter--large * 2;
    }
}

.gallery {
    display: flex;
    flex-wrap: wrap;

    @supports (grid-area: auto) {
        display: grid;
        grid-template-columns: 25px 1fr 15px 1fr 25px;
        grid-row-gap: 25px;

        @media (min-width: @md) {
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 0;
        }
    }
}

.gallery__one {
    flex: 1 1 100%;

    @media (min-width: @md) {
        flex: 1 1 50%;
    }

    @supports(grid-area: auto) {
        grid-column: span 5;

        @media (min-width: @md) {
            grid-column: 1 e('/') 2;
            grid-row: 1 e('/') 2;
        }
    }
}

.gallery__two {
    flex: 1 1 100%;

    @media (min-width: @md) {
        flex: 1 1 50%;
        display: flex;
        flex-wrap: wrap;
    }

    @supports(grid-area: auto) {
        grid-column: span 5;
        display: grid;
        grid-template-columns: 25px 1fr 15px 1fr 25px;
        grid-row-gap: 25px;

        @media (min-width: @md) {
            grid-column: 2 e('/') 3;
            grid-row: 1 e('/') 2;

            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 0;
        }
    }
}

.gallery__three {
    display: none;

    @media (min-width: @md) {
        display: block;
        font-size: 0px;
        width: 50%;
    }

    @supports(grid-area: auto) {
        @media (min-width: @md) {
            grid-column: 1 e('/') 2;
            grid-row: 2 e('/') 3;

            display: grid;
            grid-template-columns: repeat(2, 1fr);

            font-size: 1em;
            width: auto;
        }
    }
}

.gallery__four {
    flex: 1 1 100%;

    @media (min-width: @md) {
        flex: 1 1 50%;
    }

    @supports(grid-area:auto) {
        grid-column: span 5;

        @media (min-width: @md) {
            grid-column: 2 e('/') 3;
            grid-row: 2 e('/') 3;
        }
    }
}

.two {
    display: none;

    @media (min-width: @md) {
        display: block;
        flex: 1 1 100%;
    }

    @supports(grid-area: auto) {
        @media (min-width: @md) {
            display: block;
            grid-column: 1 e('/') 3;
            grid-row: span 1;
        }
    }

}

.three {
    @media (min-width: @md) {
        flex: 1 1 50%
    }

    @supports(grid-area: auto) {
        grid-column: 2 e('/') 3;

        @media (min-width: @md) {
            grid-column: 1 e('/') 2;
        }
    }
}

.four {
    @media (min-width: @md) {
        flex: 1 1 50%
    }

    @supports(grid-area: auto) {
        grid-column: 4 e('/') 5;

        @media (min-width: @md) {
            grid-column: 2 e('/') 3;
        }
    }
}

.five {
    display: none;

    @media (min-width: @md) {
        display: inline-block;
        width: 50%;
        float: left;
    }

    @supports(grid-area: auto) {
        @media (min-width: @md) {
            grid-column: 1 e('/') 2;
            grid-row: span 2;

            width: auto;
        }
    }
}

.six {
    display: none;

    @media (min-width: @md) {
        display: inline-block;
        width: 50%;
    }

    @supports(grid-area: auto) {
        @media (min-width: @md) {
            grid-column: 2 e('/') 3;
            grid-row: span 1;

            width: auto;
        }
    }
}

.seven {
    display: none;

    @media (min-width: @md) {
        display: inline-block;
        width: 50%;
    }

    @supports(grid-area: auto) {
        @media (min-width: @md) {
            grid-column: 2 e('/') 3;

            width: auto;
        }
    }
}

.grid--two-columns {

    @media (min-width: @md) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

.grid--three {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 130px;
    grid-row-gap: 100px;
}

.side {
    position: relative;
}
