.main-content {
    padding-top: 102px;

    @media (min-width: @md) {
        padding-top: 0;
    }
}
.container--floated {
    margin: 0 auto;
    max-width: @xl + (@gutter--large * 2);
    padding: 0 (@gutter--small * 2);

    @media (min-width: @md) {
        padding: 0 (@gutter--medium + @gutter--full);
    }

    @media (min-width: @xl) {
        padding: 0 (@gutter--large + @gutter--full);
    }
}

.container--full {

    @media (min-width: @md) {
        padding: 0 @gutter--large;
    }

    @media (min-width: @lg) {
        padding: 0 @gutter--full;
    }
}

.gallery {
    display: flex;
    flex-wrap: wrap;

    @supports (grid-area: auto) {
        display: grid;
        grid-template-columns: 25px 1fr 15px 1fr 25px;
        grid-row-gap: 25px;

        @media (min-width: @md) {
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 0;
        }
    }
}

.gallery__one {
    flex: 1 1 100%;

    @media (min-width: @md) {
        flex: 1 1 50%;
    }

    @supports(grid-area: auto) {
        grid-column: span 5;

        @media (min-width: @md) {
            grid-column: 1 e('/') 2;
            grid-row: 1 e('/') 2;
        }
    }
}

.gallery__two {
    flex: 1 1 100%;

    @media (min-width: @md) {
        flex: 1 1 50%;
        display: flex;
        flex-wrap: wrap;
    }

    @supports(grid-area: auto) {
        grid-column: span 5;
        display: grid;
        grid-template-columns: 25px 1fr 15px 1fr 25px;
        grid-row-gap: 25px;

        @media (min-width: @md) {
            grid-column: 2 e('/') 3;
            grid-row: 1 e('/') 2;

            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 0;
        }
    }
}

.gallery__three {
    display: none;

    @media (min-width: @md) {
        display: block;
        font-size: 0px;
        width: 50%;
    }

    @supports(grid-area: auto) {
        @media (min-width: @md) {
            grid-column: 1 e('/') 2;
            grid-row: 2 e('/') 3;

            display: grid;
            grid-template-columns: repeat(2, 1fr);
            align-items: flex-end;

            font-size: 1em;
            width: auto;
        }
    }
}

.gallery__four {
    flex: 1 1 100%;

    @media (min-width: @md) {
        flex: 1 1 50%;
    }

    @supports(grid-area:auto) {
        grid-column: span 5;

        @media (min-width: @md) {
            grid-column: 2 e('/') 3;
            grid-row: 2 e('/') 3;
        }
    }
}

.two {
    display: none;

    @media (min-width: @md) {
        display: block;
        flex: 1 1 100%;
    }

    @supports(grid-area: auto) {
        @media (min-width: @md) {
            display: block;
            grid-column: 1 e('/') 3;
            grid-row: span 1;
        }
    }

}

.three {
    @media (min-width: @md) {
        flex: 1 1 50%
    }

    @supports(grid-area: auto) {
        grid-column: 2 e('/') 3;

        @media (min-width: @md) {
            grid-column: 1 e('/') 2;
        }
    }
}

.four {
    @media (min-width: @md) {
        flex: 1 1 50%
    }

    @supports(grid-area: auto) {
        grid-column: 4 e('/') 5;

        @media (min-width: @md) {
            grid-column: 2 e('/') 3;
        }
    }
}

.five {
    display: none;

    @media (min-width: @md) {
        display: inline-block;
        width: 50%;
        float: left;
    }

    @supports(grid-area: auto) {
        @media (min-width: @md) {
            grid-column: 1 e('/') 2;
            grid-row: span 2;

            width: auto;
        }
    }
}

.six {
    display: none;

    padding: 15px;
    color: @color--blue;
    line-height: 1.36;
    font-weight: 600;

    @media (min-width: @md) {
        font-size: 1.2rem;
    }

    @media (min-width: @lg) {
        font-size: 1.6rem;
        padding: 25px;
    }

    @media (min-width: @xl) {
        font-size: 2.6rem;
    }

    .small {
        font-size: 1rem;
        font-weight: 500;
        margin-top: 1em;

        @media (min-width: @xl) {
            font-size: 1.6rem;
        }
    }

    @media (min-width: @md) {
        display: inline-block;
        width: 50%;
    }

    @supports(grid-area: auto) {
        @media (min-width: @md) {
            grid-column: 2 e('/') 3;
            grid-row: span 1;

            width: auto;
        }
    }
}

.seven {
    display: none;

    @media (min-width: @md) {
        display: inline-block;
        width: 50%;
    }

    @supports(grid-area: auto) {
        @media (min-width: @md) {
            grid-column: 2 e('/') 3;

            width: auto;
        }
    }
}

.grid--three {
    display: grid;
    grid-row-gap: 50px;
    grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
    grid-column-gap: 130px;

    @media (min-width: @md) {
        grid-row-gap: 100px;
    }
}
