.container {
    padding: 0 (@gutter / 2);
    margin: 0 auto;
    max-width: @custom-container;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
    grid-gap: 40px;
}
