.custom-container {
    margin: 0 auto;
    max-width: @custom-container;
    padding: 0 (@gutter / 2);
}

.category-grid {
    display: flex;
    flex-wrap: wrap;
    margin-left: -(@gutter);

    @supports (grid-area: auto) {
        display: grid;
        grid-template-columns: 1fr;

        margin-left: initial;

        @media (min-width: @md) {
            grid-template-columns: 275px 1fr;
            grid-gap: 40px;
        }

        @media (min-width: @lg) {
            grid-template-columns: 320px 1fr;
        }
    }
}

.sidebar {
    padding-left: @gutter;
    flex: 0 0 320px;

    @media (max-width: (@md - 1)) {
        display: none;
    }

    @supports (grid-area: auto) {
        padding-left: initial;
    }
}

.right-column {
    padding-left: @gutter;
    flex: 1;

    @supports (grid-area: auto) {
        padding-left: initial;
    }
}

.product-grid {
    display: flex;
    flex-wrap: wrap;
    margin: (@gutter * -1) 0 @gutter -(@gutter);

    @supports (grid-area: auto) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;

        margin: initial;

        @media (min-width: @md) {
            grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
            grid-gap: 40px;
        }

        @media (min-width: @xl) {
            grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
            grid-gap: 40px;
        }
    }
}

.product {
    flex: 0 1 275px;
    padding: @gutter 0 0 (@gutter);

    @supports (grid-area: auto) {
        padding: initial;
    }
}
